
/*##### Default CSS ####*/
nav,header,footer{
    display:block;
}

body{
    line-height: 1;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
p{
    
    line-height: 1.2;
}

.container {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.row{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.row::after {
    display:table;
    clear:both;
    content:" ";
}
.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}
*{
    box-sizing: border-box;
}
/*##Default css end ##*/
/*##Navigation Menu ##*/
nav{
    width:100%;
    margin:0;
    
}
nav ul{
    background-color:#eee;
    overflow:hidden;
    margin:0;
    padding:0;
}
ul.topnav li{
    float:left;
    list-style:none;
}
ul.topnav li.topnav-right{
    float:right;
}

ul.topnav li a{
    display:block;
    text-decoration: none;
    min-height: 16px;
    padding:14px;
    text-align: center;
    text-transform: uppercase;
    color:#666;
}

ul.topnav li a:hover{
    background-color:#0080ff;
    color:#fff;
}
/*##Navigation Menu End ##*/

/*##Custom Style ##*/
#section-1-gradient{
    background: #076DFF;
    background: linear-gradient(#076DFF,#65a5ff);
    background: -webkit-linear-gradient(#076DFF,#65a5ff);
    background: -moz-linear-gradient(#076DFF,#65a5ff);
    background: -o-linear-gradient(#076DFF,#65a5ff);
    height: 500px;
}
h1.large{
    color: #fff;
    font-size:56px;
    margin:0;
    line-height: 70px;
}

form h2{
    color: #fff;
}
div.leftside-col{
    margin-left:30%;
}
div.rightside-col{
    margin-left:15%;
}

input[type="text"],
input[type="password"]{
    width:400px;
    min-width: 100px;
    padding:5px;
    border-radius:7px;
}

h1.section2Header{
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 0px  #ddd,
                 0px 1px #ddd,
                -1px 0px  #ddd,
                 0px -1px  #ddd;
}

div.box{
    text-align: center;
    margin:24px;
    padding:36px 24px 40px 24px;
    border-radius: 7px;
    background-color:#fff;
    
}
div.icon{
    width:100%;
}
.icon img{
    width:100%;
}
.box:hover{
    box-shadow:5px 0 20px #d4d4d4,0px 5px 20px #d4d4d4,
    -5px 0 20px #d4d4d4;
}
.about h2{
    color:rgb(236, 70, 70);
    font-size:40px;
    
}
.about p{
    font-size:20px;
    font-weight:400;
}
#section-2-gradient{
  
    background: linear-gradient(rgba(52, 73, 94,1),rgba(52, 73, 94,0.7));
    height: 300px;
}
.footer-item{
    color:#fff;
    text-align:center;
}
.footer-item ul li{
    list-style: none;
    margin:5px;
    padding:5px;
}
.footer-item ul li a{
   
    color:rgb(185, 181, 181);
}
.address h2{
    color:#fff;
    margin-top: -68px;
    text-align: center;
}
.address p{
    color:rgb(185, 181, 181);
    text-align: center;
}